<configuration>
    <property name="LOG_DIR" value="C:/Programme-caisse/logs" />
	<property name="APPLICATION_NAME" value="programme-caisse" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	      <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	    </encoder>
  	</appender>

	<appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${APPLICATION_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_DIR}/${APPLICATION_NAME}_%i.log</fileNamePattern>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>1MB</maxFileSize>
		</triggeringPolicy>
		<!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>TRACE</level>
    	</filter>-->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.hibernate" level="ERROR" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOG_FILE" />
	</root>
</configuration>